# Data / outputs (if these are generated and should not be versioned)
TripCraft/Tripcraftzip/
TripCraft/TripCraft_database/
TripCraft/outputs/
Tripcraft/Tripcraftzip/
Tripcraft/TripCraft_database/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# archive (if generated)
archive/
